/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.green {
  color: #8bac31; }

.darkgreen {
  color: #8bac31; }

.red {
  color: #ee3931; }

.darkblue {
  color: #29394a; }

.lightblue {
  color: #94b4c5; }

.lightgreen {
  color: #c5e67b; }

.green-bg {
  background: #8bac31; }
  @media screen and (min-width: 45em) {
    .green-bg.nav__item {
      background: transparent;
      border-top: 4px solid #8bac31; }
      .green-bg.nav__item:hover {
        background: #8bac31; } }

.darkgreen-bg {
  background: #9cd54a; }
  @media screen and (min-width: 45em) {
    .darkgreen-bg.nav__item {
      background: transparent;
      border-top: 4px solid #9cd54a; }
      .darkgreen-bg.nav__item:hover {
        background: #9cd54a; } }

.red-bg {
  background: #ee3931; }
  @media screen and (min-width: 45em) {
    .red-bg.nav__item {
      background: transparent;
      border-top: 4px solid #ee3931; }
      .red-bg.nav__item:hover {
        background: #ee3931; } }

.darkblue-bg {
  background: #29394a; }
  @media screen and (min-width: 45em) {
    .darkblue-bg.nav__item {
      background: transparent;
      border-top: 4px solid #29394a; }
      .darkblue-bg.nav__item:hover {
        background: #29394a; } }

.lightblue-bg {
  background: #94b4c5; }
  @media screen and (min-width: 45em) {
    .lightblue-bg.nav__item {
      background: transparent;
      border-top: 4px solid #94b4c5; }
      .lightblue-bg.nav__item:hover {
        background: #94b4c5; } }

.lightgreen-bg {
  background: #c5e67b; }
  @media screen and (min-width: 45em) {
    .lightgreen-bg.nav__item {
      background: transparent;
      border-top: 4px solid #c5e67b; }
      .lightgreen-bg.nav__item:hover {
        background: #c5e67b; } }

*, *:before, *:after {
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

html {
  line-height: 1.5;
  font-size: 1rem;
  color: #ffffff;
  background: #292929;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: "Open Sans", helvetica, arial, sans-serif; }

h1, h2, h3, h4 {
  font-family: "Source Code Pro", "Open Sans", helvetica, arial, sans-serif; }

a {
  color: #94b4c5;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

img {
  max-width: 100%;
  height: auto; }

.wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }

.stripes {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 .33rem; }

.stripe {
  width: 19.83051%;
  float: left;
  height: .5rem;
  -webkit-transform: skewX(-60deg);
      -ms-transform: skewX(-60deg);
          transform: skewX(-60deg); }

.nav-wrap {
  max-width: 1200px;
  margin: 0 auto; }

.trigger {
  position: relative;
  cursor: pointer;
  padding: 10px 35px 16px 0;
  float: right;
  right: 1rem;
  margin-top: -8rem; }
  .trigger .trigger__bar,
  .trigger .trigger__bar:before,
  .trigger .trigger__bar:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    -webkit-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out; }
  .trigger .trigger__bar:before {
    top: -10px; }
  .trigger .trigger__bar:after {
    bottom: -10px; }
  .trigger.open .trigger__bar {
    background: transparent; }
  .trigger.open .trigger__bar:before, .trigger.open .trigger__bar:after {
    top: 0; }
  .trigger.open .trigger__bar:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .trigger.open .trigger__bar:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  @media screen and (min-width: 45em) {
    .trigger {
      display: none; } }

.nav {
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
  max-height: 0;
  overflow: hidden;
  width: 100%; }
  @media screen and (min-width: 45em) {
    .nav {
      max-height: none; } }

.show {
  max-height: 13rem; }

.nav__item {
  display: block;
  font-weight: 700;
  font-family: "Source Code Pro", "Open Sans", helvetica, arial, sans-serif;
  text-align: center;
  font-size: 1.25rem;
  padding: .25rem 0;
  color: #ffffff;
  -webkit-transition: all .33s ease-in-out;
          transition: all .33s ease-in-out; }
  @media screen and (min-width: 45em) {
    .nav__item {
      width: 20%;
      float: left; } }

.header__wrap {
  margin: 1rem 0; }

@media screen and (min-width: 45em) {
  .header__siteinfo {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%; } }

@media screen and (min-width: 45em) {
  .header__nav {
    width: 74.57627%;
    float: right;
    margin-right: 0; } }

.header__title {
  text-align: center;
  color: #ffffff;
  margin: 0 auto .5rem;
  text-shadow: 1px 1px #8bac31;
  line-height: 1;
  font-size: 1.5rem;
  padding: 0 .5rem 0;
  max-width: 250px; }

.header__subtitle {
  text-align: center;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1; }

.footer {
  border-top: 1px solid #ffffff;
  padding: 1rem 0; }

.footer__content {
  text-align: center;
  margin: 0 auto 1.5rem;
  max-width: 400px; }

.footer__copyright {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  margin: 0;
  padding-top: .5rem;
  font-size: .75rem; }
  @media screen and (min-width: 30em) {
    .footer__copyright {
      font-size: 1rem; } }

.footer-nav {
  width: 49.15254%;
  float: right;
  margin-right: 0; }

.footer-nav__item {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  display: inline-block;
  padding-top: .5rem;
  margin: 0 .25rem;
  color: #ffffff; }
  .footer-nav__item:first-child {
    margin-left: 0; }

.footer__icon {
  font-size: 1.5rem; }

.footer__notice {
  font-weight: 400;
  text-align: center; }

.footer__info {
  padding-top: .25rem; }

.main {
  margin: 0; }

.main__content {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto; }

.main__heading {
  text-shadow: 1px 1px #29394a; }

.main__copy {
  font-size: .875rem; }
  @media screen and (min-width: 30em) {
    .main__copy {
      font-size: 1rem; } }

.main__hero {
  background: url(/img/screens.jpg) no-repeat center center;
  background-size: cover;
  height: 20rem;
  position: relative; }
  @media screen and (min-width: 45em) {
    .main__hero {
      height: 35rem; } }

.main__hero--about {
  background: url(/img/hero.jpg) no-repeat center left;
  background-size: cover; }

.main__hero-wrap {
  background: #292929;
  opacity: .8;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto; }

.main__hero-content {
  padding: 1rem;
  max-width: 1200px;
  width: 100%; }

.main__hero-title {
  text-shadow: 1px 1px #8bac31;
  margin: 0; }

.main__hero-copy {
  margin: 0;
  font-size: .875rem; }

.work {
  margin: 2rem 0 3rem;
  background: dimgray;
  box-shadow: 2px 2px 2px #8f8f8f; }

.work__figure {
  padding: 0;
  margin: 0; }
  @media screen and (min-width: 45em) {
    .work__figure {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%; } }

.work__content {
  padding: 0 1rem; }
  @media screen and (min-width: 45em) {
    .work__content {
      width: 66.10169%;
      float: right;
      margin-right: 0; } }

.work__heading {
  font-size: 1.25rem;
  color: #94b4c5;
  margin: .5rem 0; }

.work__readmore {
  font-family: "Source Code Pro", "Open Sans", helvetica, arial, sans-serif;
  display: block;
  background: #8bac31;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: .5rem 0;
  font-weight: 500;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
  margin: 0 auto; }
  .work__readmore:hover {
    background: #94b4c5; }
  @media screen and (min-width: 30em) {
    .work__readmore {
      max-width: 180px;
      margin: 0; } }
