<header class="header" role="banner">
  <div class="nav-wrap">
      <header class="header__wrap clearfix">
        <section class="header__siteinfo">
          <h1 class="header__title"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo.svg" alt=""></a></h1>
          <a href="#" class="trigger"><span class="trigger__bar"></span></a>
        </section>
        <section class="header__nav">
          <nav class="nav clearfix" role="navigation">
              <a href="/index.html" class="nav__item green-bg">Home</a>
              <a href="/about/" class="nav__item red-bg">About</a>
              <a href="/work/" class="nav__item darkblue-bg">Work</a>
              <a href="/resume/" class="nav__item lightblue-bg">Resume</a>
              <a href="/contact/" class="nav__item darkgreen-bg">Contact</a>
        </nav>
        </section>
      </header>

  </div>
</header>
