<header class="header" role="banner">
  <div class="nav-wrap">
      <header class="header__wrap clearfix">
        <section class="header__siteinfo">
          <h1 class="header__title"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo-bb.svg" alt=""></a></h1>
          <a href="#" class="trigger"><span class="trigger__bar"></span></a>
        </section>
        <section class="header__nav">
          <nav class="nav clearfix" role="navigation">
            {% assign pages = site.pages | sort: 'weight' %}
              {% for p in pages %}
                {% if p.menu == 'main' %}
                     <a href="{{ site.baseurl }}{{ p.url }}" class="nav__item">{{ p.title }}</a>
                {% endif %}
              {% endfor %}
        </nav>
        </section>
      </header>

  </div>
</header>
