---
layout: work
---
<main class="main" role="main">
    <section class="main__hero" {% if page.bgimg %} style="background-image: url(/img/{{ page.bgimg }}); background-size: cover;"{% endif %}>
        <div class="main__hero-wrap">
            <section class="main__hero-content wrap">
            <h2 class="main__hero-title"><a class="main__hero-link" href="{{page.link}}" title="{{page.title}}" target="_blank">{{page.title}}</a></h2>
            </section>
        </div>
    </section>
    <section class="main__content">
        <article class="post">
            {{ content }}
        </article>
    </section>
</main>

